* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

.container {
  width: 80%;
  margin: 0 auto;

}

/* header section start here */
header {
  width: 100%;
  height: 400px;
  background-image: url(./images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

header .sub-title,
header .title {
  color: white;
  text-transform: capitalize;
  z-index: 10;
}
header .sub-title {
  font-size: 25px;
  font-weight: 300;
}

header .title {
  font-size: 50px;
  font-weight: bold;
}
/* header section end here */

/* categories section start here */
.categories-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0px;
}
.discount,
.discount-title {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  margin: 6px 0px;
}
.discount {
  font-size: 48px;
}
.discount-title {
  font-weight: 900;
}
.categories-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 900;

  margin: 6px 0px;
}
.categories-img {
  width: 60%;
  margin: 0 auto;
}
.categories-img img {
  width: 100%;
}
/* categories section end here */


/* welcome section start here */
.welcome-section{
    width: 100%;
    height: 400px;
    background-image: url(./images/welcome-img-back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.welcome-title{
    font-size: 42px;
    color: white;
    margin: 6px 0px;
}
.welcome-info{
    color: rgba(255, 255, 255, 0.80);
    margin-bottom: 6px;
    font-size: 14px;

}
.welcome-button{
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    border: none;
    background: inherit;
    margin-top: 12px;
    padding: 6px;
    

}
.welcome-img img{
    width: 90%;
}
/* welcome section end here */

